/* LineChart.css */
.line-chart-container {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 1rem;
    overflow: hidden;
}

.chart-controls {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-controls label {
    margin-right: 1rem;
}

.chart-controls select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
}

.chart-wrapper {
    min-height: 30vh;
    max-height: 40vh;
}