.categoryList {
    margin-bottom: 20px;
    max-height: 300px; /* Example height; adjust as needed */
    overflow-y: auto;
}

.categoryItem {
    margin-bottom: 10px;
}

.categoryManagerButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.categoryManagerButtons button {
    width: 20%;
}

.uploadButton {
    display: block;
    margin: 10px auto;
    background-color: #474747;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 20%;
}

.uploadButton:hover {
}
