.categoryList {
    margin-bottom: 20px;
    max-height: 300px; /* Example height; adjust as needed */
    overflow-y: auto;
}

.categoryItem {
    margin-bottom: 10px;
}

.categoryManagerButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.categoryManagerButtons button {
    width: 16vw;
}