.dropzone {
    border: 2px dashed #474747;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    padding: 5% 0 5% 0;
}

.dropzone:hover {
    background-color: #474747;
}

.dropzone p {
    margin: 0;
}

.uploadStatus {
    font-size: 18px;
    text-align: center;
    padding: 40px;
}

.uploadStatus p {
    margin: 0 0 10px;
}