/* modal.module.css */
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: #333333;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}
