.tableContainer {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tableContents {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
}

.tableTh, .tableTd {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add border to separate rows */
}

@media screen and (max-width: 600px) {
    .tableContainer {
        font-size: xx-small;
    }
}