/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background: #333333;
    flex: 1 1;
    padding: 2%;
    width: 100%;
    min-height: 40vh;
    max-height: 50vh;
}

.card-container {
}

.full-width-card {
    flex: 1 1 100%;
}

.majority-card {
    flex: 1 1 45%;
    overflow: hidden; /* Hide overflow */
}

.table-container {
    position: relative;
    height: 100%; /* Fill parent height */
    width: 100%;
}

.clickable-card {
    cursor: pointer;
    transition: transform 1s, box-shadow 1s;
}

.clickable-card:hover, .clickable-card:active, .clickable-card.touch-active {
    transform: scale(1.05);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

@media (hover: none) {
    .clickable-card:active {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.chart-wrapper {
    min-height: 30vh;
    max-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Query for narrow screens */
@media screen and (max-width: 600px) {
    .card, .full-width-card, .majority-card {
        width: 100%;
        padding: 5%;
    }
}