/* index.css */
#root {
    padding: 2%;
}

/* Dark mode */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Dark background color */
    color: #ffffff; /* Light text color */
    margin: 2%;
}

/* Rounded edges for all div elements */
div {
    border-radius: 20px; /* Adjust the value to control the roundness */
}

/* Example: Additional styles for headings */
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #474747;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: #474747;
}
