/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background: #333333;
    flex: 1 1;
    padding: 2%;
    width: 100%;
}

.full-width-card {
    flex: 1 1 100%;
}

.majority-card {
    flex: 1 1 25%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Query for narrow screens */
@media screen and (max-width: 600px) {
    .card, .full-width-card, .majority-card {
        width: 100%;
        padding: 5%;
    }
}